<div class="modal-header">
  <h3 class="modal-title">New User</h3>
</div>
<div class="modal-body">
  <div class="row" ng-show="!users.processing  && !users.ok">
    <p class="text-center"> Please add the info of the new user. </p>
    <form name="users.form" role="form" novalidate ng-submit="users.save()">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" 
            class="form-control" 
            name="firstname" 
            ng-model="users.newUser.firstname"
            placeholder="John"
            required/>
          <div ng-show="users.form.$submitted || users.form.firstname.$touched">
            <div class="text-danger" ng-show="users.form.firstname.$error.required">We need your first name.</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="lastname">
            Last name
          </label>
          <input type="text" 
          class="form-control" 
          name="lastname" 
          ng-model="users.newUser.lastname"
          placeholder="Doe"
          required/>
          <div ng-show="users.form.$submitted || users.form.lastname.$touched">
            <div  class="text-danger" ng-show="users.form.lastname.$error.required">We need your last name.</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" 
          class="form-control"
          ng-model="users.newUser.email"
          name="userEmail"
          placeholder="john.doe@mail.com" required>
          <div ng-show="users.form.$submitted || users.form.userEmail.$touched">
            <div  class="text-danger" ng-show="users.form.userEmail.$error.required">We need your email.</div>
            <div  class="text-danger" ng-show="users.form.userEmail.$error.email">This is not a valid email.</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-show="users.button">Save</button>
          <button class="btn btn-danger margin-right" ng-show="users.button" type="button" 
            ng-click="users.dismiss()">Cancel</button>
      </div>
    </form>
  </div>
</div>
  <div class="modal-body text-center" ng-show="users.processing && !users.ok">
    Please wait while we process your request.
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
  </div>
  <div class="modal-body text-center" ng-show="users.ok">
    The user was added succesfully.
    <img src="https://t3.ftcdn.net/jpg/01/25/21/22/240_F_125212287_WsznLd7mGJG3mXTuxtoUt472CsuEUz7r.jpg">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" 
  ng-show="users.ok" 
  type="button" 
  ng-click="users.dismiss()">Ok</button>
</div>