<div class="panel panel-default">
  <div class="panel-heading">
  	<div class="row">
  		<div class="col-xs-6">
  			<h3 class="panel-title">Users</h3>
  		</div>
  		<div class="col-xs-6">
  			<button type="button" class="btn btn-primary pull-right" 
  				ng-click='users.add()'>
				  <i class="glyphicon glyphicon-user "></i>
				  	New
				</button>
  		</div>
  	</div>
  </div>
  <div class="panel-body">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<th class="text-center">
					<a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
						First Name
						<span class='glyphicon glyphicon-sort'> </span>
					</a>
					</th>
					<th class="text-center">
					<a href="" ng-click="sortType = 'lastname'; sortReverse = !sortReverse">
						Last Name  
						<span class='glyphicon glyphicon-sort'> </span>
					</a>
					</th>
					<th class="text-center">
					<a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
						Email
						<span class='glyphicon glyphicon-sort'> </span>
					</a>
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="user in users.list | orderBy:sortType:sortReverse">
					<td class="text-center">
						{{ user.firstname }}
					</td>
					<td class="text-center">
						{{ user.lastname }}
					</td>
					<td class="text-center">
						{{ user.email }}
					</td>
				</tr>
			</tbody>
		</table>
  </div>
</div>